## Imports

In [2]:
# IMPORTS
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

## Load Data

In [3]:
# Essential
aircraft_df = pd.read_csv('../raw_data/csv/aircraft.csv')
engines_df = pd.read_csv('../raw_data/csv/engines.csv')
Events_Sequence_df = pd.read_csv('../raw_data/csv/Events_Sequence.csv')
events_df = pd.read_csv('../raw_data/csv/events.csv')
Flight_Crew_df = pd.read_csv('../raw_data/csv/Flight_Crew.csv')
flight_time_df = pd.read_csv('../raw_data/csv/flight_time.csv')
Findings_df = pd.read_csv('../raw_data/csv/Findings.csv')

# # Optional - Nice to have, but not essential
# injury_df = pd.read_csv('../raw_data/csv/injury.csv')

# # Optional - Only if there is extra time
# dt_aircraft_df = pd.read_csv('../raw_data/csv/dt_aircraft.csv')
# dt_events_df = pd.read_csv('../raw_data/csv/dt_events.csv')
# dt_Flight_Crew_df = pd.read_csv('../raw_data/csv/dt_Flight_Crew.csv')

/tmp/ipykernel_11652/1410941684.py:2: DtypeWarning: Columns (0,59) have mixed types. Specify dtype option on import or set low_memory=False.
  aircraft_df = pd.read_csv('../raw_data/csv/aircraft.csv')
/tmp/ipykernel_11652/1410941684.py:5: DtypeWarning: Columns (0,31,51) have mixed types. Specify dtype option on import or set low_memory=False.
  events_df = pd.read_csv('../raw_data/csv/events.csv')

## Dataset Preparation

### 1. aircraft

##### Info

In [4]:
aircraft_df.shape

(26064, 93)

In [5]:
aircraft_df.head()

,ev_id,Aircraft_Key,regis_no,ntsb_no,acft_missing,far_part,flt_plan_filed,flight_plan_activated,damage,acft_fire,...,acft_year,fuel_on_board,commercial_space_flight,unmanned,ifr_equipped_cert,elt_mounted_aircraft,elt_connected_antenna,elt_manufacturer,elt_model,elt_reason_other
0,20080211X00175,1,N530NA,DFW08RA039,N,NUSN,NaN,NaN,SUBS,NaN,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
1,20080107X00026,1,N8037W,SEA08LA057A,N,091,NONE,NaN,MINR,NONE,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
2,20080107X00026,2,N15EX,SEA08LA057B,N,091,NONE,NaN,SUBS,NONE,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
3,20080109X00036,1,N579RM,DFW08CA054,N,091,NONE,N,SUBS,NONE,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
4,20080107X00027,1,N398J,DFW08LA055,N,091,IFR,Y,NaN,NONE,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN

In [6]:
aircraft_df['ev_id'].nunique()

25653

##### Basic

In [7]:
aircraft_df['id'] = (aircraft_df['ev_id'].astype(str) + aircraft_df['Aircraft_Key'].astype(str)).astype('object')

aircraft_df.drop(['ev_id', 'Aircraft_Key'], axis=1, inplace=True)

##### Final Check

In [8]:
aircraft_df.shape

(26064, 92)

In [9]:
aircraft_df['id'].nunique()

26064

In [10]:
len(aircraft_df[aircraft_df.duplicated(subset='id', keep=False)])

0

In [11]:
aircraft_df.head()

,regis_no,ntsb_no,acft_missing,far_part,flt_plan_filed,flight_plan_activated,damage,acft_fire,acft_expl,acft_make,...,fuel_on_board,commercial_space_flight,unmanned,ifr_equipped_cert,elt_mounted_aircraft,elt_connected_antenna,elt_manufacturer,elt_model,elt_reason_other,id
0,N530NA,DFW08RA039,N,NUSN,NaN,NaN,SUBS,NaN,NaN,Eurocopter France,...,NaN,False,False,False,False,False,NaN,NaN,NaN,20080211X001751
1,N8037W,SEA08LA057A,N,091,NONE,NaN,MINR,NONE,NONE,PIPER,...,NaN,False,False,False,False,False,NaN,NaN,NaN,20080107X000261
2,N15EX,SEA08LA057B,N,091,NONE,NaN,SUBS,NONE,NONE,Barnard/Stancil,...,NaN,False,False,False,False,False,NaN,NaN,NaN,20080107X000262
3,N579RM,DFW08CA054,N,091,NONE,N,SUBS,NONE,NONE,Micco Aircraft Company,...,NaN,False,False,False,False,False,NaN,NaN,NaN,20080109X000361
4,N398J,DFW08LA055,N,091,IFR,Y,NaN,NONE,NONE,Pilatus,...,NaN,False,False,False,False,False,NaN,NaN,NaN,20080107X000271

### 2. engines

##### Info

In [12]:
engines_df.shape

(23669, 17)

In [13]:
engines_df.head()

,ev_id,Aircraft_Key,eng_no,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,lchg_userid,lchg_date,carb_fuel_injection,propeller_type,propeller_make,propeller_model,eng_time_total,eng_time_last_insp,eng_time_overhaul
0,20080107X00026,1,1,REC,Textron Lycoming,O-360-A3A,180.0,HP,NaN,2020-09-25 18:05:31,CARB,NaN,NaN,NaN,0.0,0.0,0.0
1,20080107X00026,2,1,REC,Textron Lycoming,O-360,180.0,HP,NaN,2020-09-25 18:05:31,CARB,NaN,NaN,NaN,0.0,0.0,0.0
2,20080109X00036,1,1,REC,Lycoming,IO-540,260.0,HP,NaN,2020-09-25 18:05:31,FINJ,NaN,NaN,NaN,0.0,0.0,0.0
3,20080107X00027,1,1,TP,Pratt & Whitney Canada,PT6A-67A,1200.0,HP,NaN,2020-09-25 18:04:02,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,20080115X00051,1,1,REC,Lycoming,O-235-L2C,110.0,HP,NaN,2020-09-25 18:06:16,CARB,NaN,NaN,NaN,0.0,0.0,0.0

In [14]:
engines_df['ev_id'].nunique()

20657

##### Basic

In [15]:
engines_df['id'] = (engines_df['ev_id'].astype(str) + engines_df['Aircraft_Key'].astype(str)).astype('object')

engines_df.drop(['ev_id', 'Aircraft_Key'], axis=1, inplace=True)

##### Duplicate Dropping

In [16]:
mask = engines_df['eng_no'] == 1

engines_df = engines_df[mask]
# engines_df.drop(['eng_no'], axis=1, inplace=True)

##### Final Check

In [17]:
engines_df.shape

(20876, 16)

In [18]:
engines_df['id'].nunique()

20876

In [19]:
len(engines_df[engines_df.duplicated(subset='id', keep=False)])

0

In [20]:
engines_df.head()

,eng_no,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,lchg_userid,lchg_date,carb_fuel_injection,propeller_type,propeller_make,propeller_model,eng_time_total,eng_time_last_insp,eng_time_overhaul,id
0,1,REC,Textron Lycoming,O-360-A3A,180.0,HP,NaN,2020-09-25 18:05:31,CARB,NaN,NaN,NaN,0.0,0.0,0.0,20080107X000261
1,1,REC,Textron Lycoming,O-360,180.0,HP,NaN,2020-09-25 18:05:31,CARB,NaN,NaN,NaN,0.0,0.0,0.0,20080107X000262
2,1,REC,Lycoming,IO-540,260.0,HP,NaN,2020-09-25 18:05:31,FINJ,NaN,NaN,NaN,0.0,0.0,0.0,20080109X000361
3,1,TP,Pratt & Whitney Canada,PT6A-67A,1200.0,HP,NaN,2020-09-25 18:04:02,NaN,NaN,NaN,NaN,0.0,0.0,0.0,20080107X000271
4,1,REC,Lycoming,O-235-L2C,110.0,HP,NaN,2020-09-25 18:06:16,CARB,NaN,NaN,NaN,0.0,0.0,0.0,20080115X000511

### 3. Events_Sequence (TARGET)

##### Info

In [21]:
Events_Sequence_df.shape

(55838, 10)

In [22]:
Events_Sequence_df.head()

,ev_id,Aircraft_Key,Occurrence_No,Occurrence_Code,Occurrence_Description,phase_no,eventsoe_no,Defining_ev,lchg_date,lchg_userid
0,20080107X00026,1,1,550250,Landing Midair collision,550,250,True,2020-09-25 18:05:31,NaN
1,20080107X00026,2,1,350250,Initial climb Midair collision,350,250,True,2020-09-25 18:05:31,NaN
2,20080109X00036,1,1,551230,Landing-flare/touchdown Loss of control on ground,551,230,True,2020-09-25 18:05:31,NaN
3,20080109X00036,1,2,550300,Landing Runway excursion,550,300,False,2020-09-25 18:05:31,NaN
4,20080107X00027,1,1,153081,Standing-engine(s) operating AC/prop/rotor con...,153,81,True,2020-09-25 18:04:02,NaN

In [23]:
Events_Sequence_df['ev_id'].nunique()

24999

##### Basic

In [24]:
Events_Sequence_df['id'] = (Events_Sequence_df['ev_id'].astype(str) + Events_Sequence_df['Aircraft_Key'].astype(str)).astype('object')

Events_Sequence_df.drop(['ev_id', 'Aircraft_Key'], axis=1, inplace=True)

##### Duplicate Dropping

In [25]:
mask = Events_Sequence_df['Defining_ev'] == True

Events_Sequence_df = Events_Sequence_df[mask]
Events_Sequence_df.drop(['Occurrence_No', 'Occurrence_Code', 'Occurrence_Description', 'Defining_ev', 'lchg_date', 'lchg_userid'], axis=1, inplace=True)

##### Final Check

In [26]:
Events_Sequence_df.shape

(25154, 3)

In [27]:
Events_Sequence_df['id'].nunique()

25154

In [28]:
len(Events_Sequence_df[Events_Sequence_df.duplicated(subset='id', keep=False)])

0

In [29]:
Events_Sequence_df.head()

   phase_no  eventsoe_no               id
0       550          250  20080107X000261
1       350          250  20080107X000262
2       551          230  20080109X000361
4       153           81  20080107X000271
5       551          240  20080115X000511

### 4. events *['ev_id'] (Excluded)

##### Info

In [30]:
events_df.shape

(25653, 73)

In [31]:
events_df.head()

,ev_id,ntsb_no,ev_type,ev_date,ev_dow,ev_time,ev_tmzn,ev_city,ev_state,ev_country,...,ntsb_notf_from,ntsb_notf_date,ntsb_notf_tm,fiche_number,lchg_date,lchg_userid,wx_cond_basic,faa_dist_office,dec_latitude,dec_longitude
0,20080211X00175,DFW08RA039,ACC,2008-01-10,Th,1907.0,UTC,"Pitt Meadow, BC",NaN,CA,...,NaN,NaN,NaN,NaN,2020-09-25 18:07:50,NaN,NaN,NaN,NaN,NaN
1,20080107X00026,SEA08LA057,ACC,2008-01-01,Tu,2230.0,UTC,Sonoma,CA,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:05:31,NaN,VMC,NaN,38.223888,-122.449722
2,20080109X00036,DFW08CA054,ACC,2008-01-01,Tu,2200.0,UTC,Arcola,TX,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:05:31,NaN,VMC,NaN,29.506111,-95.476669
3,20080107X00027,DFW08LA055,ACC,2008-01-03,Th,825.0,UTC,Oklahoma City,OK,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:04:02,NaN,VMC,NaN,35.533611,-97.641387
4,20080115X00051,DEN08CA047,ACC,2008-01-02,We,2230.0,UTC,Loveland,CO,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:06:16,NaN,VMC,NaN,40.451667,-105.001113

##### Final Check

In [32]:
events_df.shape

(25653, 73)

In [33]:
events_df['ev_id'].nunique()

25653

In [34]:
len(events_df[events_df.duplicated(subset='ev_id', keep=False)])

0

In [35]:
events_df.head()

,ev_id,ntsb_no,ev_type,ev_date,ev_dow,ev_time,ev_tmzn,ev_city,ev_state,ev_country,...,ntsb_notf_from,ntsb_notf_date,ntsb_notf_tm,fiche_number,lchg_date,lchg_userid,wx_cond_basic,faa_dist_office,dec_latitude,dec_longitude
0,20080211X00175,DFW08RA039,ACC,2008-01-10,Th,1907.0,UTC,"Pitt Meadow, BC",NaN,CA,...,NaN,NaN,NaN,NaN,2020-09-25 18:07:50,NaN,NaN,NaN,NaN,NaN
1,20080107X00026,SEA08LA057,ACC,2008-01-01,Tu,2230.0,UTC,Sonoma,CA,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:05:31,NaN,VMC,NaN,38.223888,-122.449722
2,20080109X00036,DFW08CA054,ACC,2008-01-01,Tu,2200.0,UTC,Arcola,TX,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:05:31,NaN,VMC,NaN,29.506111,-95.476669
3,20080107X00027,DFW08LA055,ACC,2008-01-03,Th,825.0,UTC,Oklahoma City,OK,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:04:02,NaN,VMC,NaN,35.533611,-97.641387
4,20080115X00051,DEN08CA047,ACC,2008-01-02,We,2230.0,UTC,Loveland,CO,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:06:16,NaN,VMC,NaN,40.451667,-105.001113

### 5. Flight_Crew

##### Info

In [36]:
Flight_Crew_df.shape

(26270, 33)

In [37]:
Flight_Crew_df.head()

,ev_id,Aircraft_Key,crew_no,crew_category,crew_age,crew_sex,crew_city,crew_res_state,crew_res_country,med_certf,...,lchg_userid,seat_occ_row,infl_rest_inst,infl_rest_depl,child_restraint,med_crtf_limit,mr_faa_med_certf,pilot_flying,available_restraint,restraint_used
0,20080107X00026,1,1,PLT,56.0,M,Novato,CA,USA,CL3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
1,20080107X00026,2,1,PLT,70.0,M,Pioneer,CA,USA,CL3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
2,20080109X00036,1,1,PLT,54.0,F,Gonzales,TX,USA,CL3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
3,20080107X00027,1,1,PLT,59.0,M,Conroe,TX,USA,CL2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
4,20080115X00051,1,1,DSTU,36.0,M,Loveland,CO,USA,CL3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN

In [38]:
Flight_Crew_df['ev_id'].nunique()

20697

##### Basic

In [39]:
Flight_Crew_df['id'] = (Flight_Crew_df['ev_id'].astype(str) + Flight_Crew_df['Aircraft_Key'].astype(str)).astype('object')

Flight_Crew_df.drop(['ev_id', 'Aircraft_Key'], axis=1, inplace=True)

##### Duplicate Dropping

In [40]:
mask = (Flight_Crew_df['crew_category'].isin(['PLT','DSTU','FLTI','CPLT','KPLT'])) & (Flight_Crew_df['crew_no'] == 1)

Flight_Crew_df = Flight_Crew_df[mask]
Flight_Crew_df.drop(['crew_no'], axis=1, inplace=True)

##### Final Check

In [41]:
Flight_Crew_df.shape

(20693, 31)

In [42]:
Flight_Crew_df['id'].nunique()

20693

In [43]:
Flight_Crew_df[Flight_Crew_df.duplicated(subset='id', keep=False)].head()

Empty DataFrame
Columns: [crew_category, crew_age, crew_sex, crew_city, crew_res_state, crew_res_country, med_certf, med_crtf_vldty, date_lst_med, crew_rat_endorse, crew_inj_level, seatbelts_used, shldr_harn_used, crew_tox_perf, seat_occ_pic, pc_profession, bfr, bfr_date, ft_as_of, lchg_date, lchg_userid, seat_occ_row, infl_rest_inst, infl_rest_depl, child_restraint, med_crtf_limit, mr_faa_med_certf, pilot_flying, available_restraint, restraint_used, id]
Index: []

[0 rows x 31 columns]

In [44]:
len(Flight_Crew_df[Flight_Crew_df.duplicated(subset='id', keep=False)])

0

In [45]:
Flight_Crew_df.head()

,crew_category,crew_age,crew_sex,crew_city,crew_res_state,crew_res_country,med_certf,med_crtf_vldty,date_lst_med,crew_rat_endorse,...,seat_occ_row,infl_rest_inst,infl_rest_depl,child_restraint,med_crtf_limit,mr_faa_med_certf,pilot_flying,available_restraint,restraint_used,id
0,PLT,56.0,M,Novato,CA,USA,CL3,WWL,2007-11-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,20080107X000261
1,PLT,70.0,M,Pioneer,CA,USA,CL3,WWL,2006-12-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,20080107X000262
2,PLT,54.0,F,Gonzales,TX,USA,CL3,WWL,2006-09-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,20080109X000361
3,PLT,59.0,M,Conroe,TX,USA,CL2,NaN,2007-06-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,20080107X000271
4,DSTU,36.0,M,Loveland,CO,USA,CL3,WOWL,2007-12-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,20080115X000511

### 6. flight_time

##### Info

In [46]:
flight_time_df.shape

(327193, 8)

In [47]:
flight_time_df.head()

,ev_id,Aircraft_Key,crew_no,flight_type,flight_craft,flight_hours,lchg_date,lchg_userid
0,20080107X00026,1,1,L90D,ACTU,3.0,2020-09-25 18:05:31,NaN
1,20080107X00026,1,1,L90D,ALL,29.0,2020-09-25 18:05:31,NaN
2,20080107X00026,1,1,L90D,MAKE,29.0,2020-09-25 18:05:31,NaN
3,20080107X00026,1,1,L90D,SENG,29.0,2020-09-25 18:05:31,NaN
4,20080107X00026,1,1,L90D,SIMU,26.0,2020-09-25 18:05:31,NaN

In [48]:
flight_time_df['ev_id'].nunique()

19432

##### Basic

In [49]:
flight_time_df['id'] = (flight_time_df['ev_id'].astype(str) + flight_time_df['Aircraft_Key'].astype(str)).astype('object')

flight_time_df.drop(['ev_id', 'Aircraft_Key'], axis=1, inplace=True)

##### Duplicate Dropping

In [50]:
mask = (flight_time_df['flight_craft'] == 'ALL') & (flight_time_df['flight_type'] == 'TOTL')

flight_time_df = flight_time_df[mask]
flight_time_df.drop(['flight_craft', 'flight_type'], axis=1, inplace=True)

In [51]:
flight_time_df.drop(['lchg_date', 'lchg_userid', 'crew_no'], axis=1, inplace=True)
flight_time_df = flight_time_df.groupby('id', as_index=False).mean()

In [52]:
flight_time_df = flight_time_df.rename(columns={'flight_hours': 'flight_hours_mean'})

##### Final Check

In [53]:
flight_time_df.shape

(19552, 2)

In [54]:
flight_time_df['id'].nunique()

19552

In [55]:
flight_time_df[flight_time_df.duplicated(subset='id', keep=False)]

Empty DataFrame
Columns: [id, flight_hours_mean]
Index: []

In [56]:
len(flight_time_df[flight_time_df.duplicated(subset='id', keep=False)])

0

In [57]:
flight_time_df.head()

                id  flight_hours_mean
0  20080107X000261              705.0
1  20080107X000262             8300.0
2  20080107X000271            10571.0
3  20080109X000361             1000.0
4  20080114X000441              537.0

### 7. Findings (TARGET)

##### Info

In [58]:
Findings_df.shape

(60864, 13)

In [59]:
Findings_df.head()

,ev_id,Aircraft_Key,finding_no,finding_code,finding_description,category_no,subcategory_no,section_no,subsection_no,modifier_no,Cause_Factor,lchg_date,lchg_userid
0,20080107X00026,1,1,204151045,Personnel issues-Action/decision-Info processi...,2,4,15,10,45,C,2020-09-25 18:05:31,NaN
1,20080107X00026,2,1,204151044,Personnel issues-Action/decision-Info processi...,2,4,15,10,44,C,2020-09-25 18:05:31,NaN
2,20080109X00036,1,1,303404099,Environmental issues-Conditions/weather/phenom...,3,3,40,40,99,F,2020-09-25 18:05:31,NaN
3,20080109X00036,1,2,106202020,Aircraft-Aircraft oper/perf/capability-Perform...,1,6,20,20,20,C,2020-09-25 18:05:31,NaN
4,20080107X00027,1,1,303602099,Environmental issues-Conditions/weather/phenom...,3,3,60,20,99,F,2020-09-25 18:04:02,NaN

In [60]:
Findings_df['ev_id'].nunique()

20223

##### Basic

In [61]:
Findings_df['id'] = (Findings_df['ev_id'].astype(str) + Findings_df['Aircraft_Key'].astype(str)).astype('object')

Findings_df.drop(['ev_id', 'Aircraft_Key'], axis=1, inplace=True)

##### Duplicate Dropping

In [62]:
mask = (Findings_df['finding_no'] == 1) & (Findings_df['Cause_Factor'] == 'C')

Findings_df = Findings_df[mask]

Findings_df.drop(['finding_no', 'finding_code', 'finding_description', 'Cause_Factor', 'lchg_date', 'lchg_userid'], axis=1, inplace=True)

##### Final Check

In [63]:
Findings_df.shape

(16207, 6)

In [64]:
Findings_df['id'].nunique()

16207

In [65]:
Findings_df[Findings_df.duplicated(subset='id', keep=False)].head()

Empty DataFrame
Columns: [category_no, subcategory_no, section_no, subsection_no, modifier_no, id]
Index: []

In [66]:
len(Findings_df[Findings_df.duplicated(subset='id', keep=False)])

0

In [67]:
Findings_df.head()

,category_no,subcategory_no,section_no,subsection_no,modifier_no,id
0,2,4,15,10,45,20080107X000261
1,2,4,15,10,44,20080107X000262
6,1,6,20,41,99,20080115X000511
17,1,3,52,30,13,20080116X000631
24,1,5,72,50,6,20080122X000871

## Data Merging

In [68]:
def merge_dataframes(df_ref, other_dfs, index_column):
    for df in other_dfs:
        df_ref = df_ref.merge(df, how='inner', on=index_column)
        
    return df_ref

### Preselected dataset V1: 
- 'phase_no' & 'eventsoe_no' == y targets
- Therefore other tables (exc. Findings_df) are inner joined on 'id' column

In [69]:
wingman_df_v1 = merge_dataframes(Events_Sequence_df, [aircraft_df, engines_df, Flight_Crew_df, flight_time_df], 'id')

# Identify the columns we want to preserve
cols = ['id', 'far_part', 'flt_plan_filed', 'acft_make',
       'acft_model', 'total_seats', 'num_eng', 'fixed_retractable',
       'cert_max_gr_wt', 'acft_category', 'homebuilt', 'type_last_insp',
       'afm_hrs_last_insp', 'afm_hrs', 'elt_install', 'elt_type', 'oper_dba',
       'certs_held', 'type_fly', 'second_pilot', 'dprt_apt_id', 'dprt_time',
       'dest_apt_id', 'site_seeing', 'air_medical', 'flight_hours_mean',
       'crew_category', 'crew_sex', 'pc_profession', 'crew_tox_perf',
       'mr_faa_med_certf', 'available_restraint', 'eng_no', 'eng_type',
       'eng_mfgr', 'eng_model', 'power_units', 'hp_or_lbs',
       'carb_fuel_injection', 'propeller_type', 'phase_no', 'eventsoe_no']

# Keep only the column names in wingman_df_v1 that are in the list 'cols'
wingman_df_v1 = wingman_df_v1[cols]

wingman_df_v1

,id,far_part,flt_plan_filed,acft_make,acft_model,total_seats,num_eng,fixed_retractable,cert_max_gr_wt,acft_category,...,eng_no,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,carb_fuel_injection,propeller_type,phase_no,eventsoe_no
0,20080107X000261,091,NONE,PIPER,PA 28-180,4.0,1.0,FIXD,2400.0,AIR,...,1,REC,Textron Lycoming,O-360-A3A,180.0,HP,CARB,NaN,550,250
1,20080107X000262,091,NONE,Barnard/Stancil,Glastar,2.0,1.0,FIXD,1960.0,AIR,...,1,REC,Textron Lycoming,O-360,180.0,HP,CARB,NaN,350,250
2,20080109X000361,091,NONE,Micco Aircraft Company,MAC-145B,2.0,1.0,RETR,2850.0,AIR,...,1,REC,Lycoming,IO-540,260.0,HP,FINJ,NaN,551,230
3,20080107X000271,091,IFR,Pilatus,PC-12/45,9.0,1.0,RETR,9920.0,AIR,...,1,TP,Pratt & Whitney Canada,PT6A-67A,1200.0,HP,NaN,NaN,153,81
4,20080115X000511,091,NONE,Cessna,152,2.0,1.0,FIXD,1670.0,AIR,...,1,REC,Lycoming,O-235-L2C,110.0,HP,CARB,NaN,551,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18806,202303131068841,091,NONE,MAULE,M-7-235B,4.0,1.0,FIXD,2500.0,AIR,...,1,REC,Lycoming,O-540-J3A5,235.0,HP,CARB,CONP,552,96
18807,202303131068851,091,IFR,BEECH,F33A,5.0,1.0,RETR,3600.0,AIR,...,1,REC,Continental,IO-550-B,300.0,HP,FINJ,CONP,350,191
18808,202303241069471,091,NONE,FIEDLER MARK R,PA-18 REPLICA,2.0,1.0,FIXD,2300.0,AIR,...,1,REC,Titan,OX-360,180.0,HP,CARB,FIXP,552,96
18809,202303311069871,137,NONE,BELL,OH-58A,4.0,1.0,FIXD,3200.0,HELI,...,1,TS,ALLISON,T63 SERIES,420.0,HP,NaN,NaN,452,193
18810,202304101070311,091,NONE,PIPER,PA-28-180,4.0,1.0,FIXD,2400.0,AIR,...,1,REC,Lycoming,O-360-A4A,180.0,HP,CARB,FIXP,552,230

#### Final Check

In [70]:
wingman_df_v1.shape

(18811, 42)

In [71]:
wingman_df_v1['id'].nunique()

18811

In [72]:
wingman_df_v1[wingman_df_v1.duplicated(subset='id', keep=False)].head()

Empty DataFrame
Columns: [id, far_part, flt_plan_filed, acft_make, acft_model, total_seats, num_eng, fixed_retractable, cert_max_gr_wt, acft_category, homebuilt, type_last_insp, afm_hrs_last_insp, afm_hrs, elt_install, elt_type, oper_dba, certs_held, type_fly, second_pilot, dprt_apt_id, dprt_time, dest_apt_id, site_seeing, air_medical, flight_hours_mean, crew_category, crew_sex, pc_profession, crew_tox_perf, mr_faa_med_certf, available_restraint, eng_no, eng_type, eng_mfgr, eng_model, power_units, hp_or_lbs, carb_fuel_injection, propeller_type, phase_no, eventsoe_no]
Index: []

[0 rows x 42 columns]

In [73]:
len(wingman_df_v1[wingman_df_v1.duplicated(subset='id', keep=False)])

0

In [74]:
wingman_df_v1.set_index('id', inplace=True)

In [75]:
wingman_df_v1.head()

,far_part,flt_plan_filed,acft_make,acft_model,total_seats,num_eng,fixed_retractable,cert_max_gr_wt,acft_category,homebuilt,...,eng_no,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,carb_fuel_injection,propeller_type,phase_no,eventsoe_no
id,,,,,,,,,,,,,,,,,,,,,
20080107X000261,091,NONE,PIPER,PA 28-180,4.0,1.0,FIXD,2400.0,AIR,N,...,1,REC,Textron Lycoming,O-360-A3A,180.0,HP,CARB,NaN,550,250
20080107X000262,091,NONE,Barnard/Stancil,Glastar,2.0,1.0,FIXD,1960.0,AIR,Y,...,1,REC,Textron Lycoming,O-360,180.0,HP,CARB,NaN,350,250
20080109X000361,091,NONE,Micco Aircraft Company,MAC-145B,2.0,1.0,RETR,2850.0,AIR,N,...,1,REC,Lycoming,IO-540,260.0,HP,FINJ,NaN,551,230
20080107X000271,091,IFR,Pilatus,PC-12/45,9.0,1.0,RETR,9920.0,AIR,N,...,1,TP,Pratt & Whitney Canada,PT6A-67A,1200.0,HP,NaN,NaN,153,81
20080115X000511,091,NONE,Cessna,152,2.0,1.0,FIXD,1670.0,AIR,N,...,1,REC,Lycoming,O-235-L2C,110.0,HP,CARB,NaN,551,240

### Preselected dataset V2: 
- 'category_no', 'subcategory_no', 'section_no', 'subsection_no' & 'modifier_no' == y targets
- Therefore other tables (exc. Events_Sequence_df) are inner joined on 'id' column

In [76]:
wingman_df_v2 = merge_dataframes(Findings_df, [aircraft_df, engines_df, Flight_Crew_df, flight_time_df], 'id')

# Identify the columns we want to preserve
cols = ['id', 'far_part', 'flt_plan_filed', 'acft_make',
       'acft_model', 'total_seats', 'num_eng', 'fixed_retractable',
       'cert_max_gr_wt', 'acft_category', 'homebuilt', 'type_last_insp',
       'afm_hrs_last_insp', 'afm_hrs', 'elt_install', 'elt_type', 'oper_dba',
       'certs_held', 'type_fly', 'second_pilot', 'dprt_apt_id', 'dprt_time',
       'dest_apt_id', 'site_seeing', 'air_medical', 'flight_hours_mean',
       'crew_category', 'crew_sex', 'pc_profession', 'crew_tox_perf',
       'mr_faa_med_certf', 'available_restraint', 'eng_no', 'eng_type',
       'eng_mfgr', 'eng_model', 'power_units', 'hp_or_lbs',
       'carb_fuel_injection', 'propeller_type', 'category_no', 'subcategory_no',
       'section_no', 'subsection_no', 'modifier_no']

# Keep only the column names in wingman_df_v2 that are in the list 'cols'
wingman_df_v2 = wingman_df_v2[cols]

wingman_df_v2

,id,far_part,flt_plan_filed,acft_make,acft_model,total_seats,num_eng,fixed_retractable,cert_max_gr_wt,acft_category,...,eng_model,power_units,hp_or_lbs,carb_fuel_injection,propeller_type,category_no,subcategory_no,section_no,subsection_no,modifier_no
0,20080107X000261,091,NONE,PIPER,PA 28-180,4.0,1.0,FIXD,2400.0,AIR,...,O-360-A3A,180.0,HP,CARB,NaN,2,4,15,10,45
1,20080107X000262,091,NONE,Barnard/Stancil,Glastar,2.0,1.0,FIXD,1960.0,AIR,...,O-360,180.0,HP,CARB,NaN,2,4,15,10,44
2,20080115X000511,091,NONE,Cessna,152,2.0,1.0,FIXD,1670.0,AIR,...,O-235-L2C,110.0,HP,CARB,NaN,1,6,20,41,99
3,20080116X000631,135,CVFR,PIPER,PA-31-350,10.0,2.0,RETR,7368.0,AIR,...,TIO-540 Serie,350.0,HP,FINJ,NaN,1,3,52,30,13
4,20080122X000871,091,CVFR,BELL,407,7.0,1.0,FIXD,5000.0,HELI,...,250-C47B,674.0,HP,NaN,NaN,1,5,72,50,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14997,20200911X009351,091,NONE,NAVION,B,4.0,1.0,FIXD,NaN,AIR,...,IO-550G,300.0,NaN,FINJ,NaN,2,6,30,40,44
14998,20200911X757461,091,VFR,Diamond,DA20,2.0,1.0,FIXD,1764.0,AIR,...,IO-240-B,125.0,HP,FINJ,FIXP,2,4,10,25,46
14999,20200914X023201,091,NONE,Cub Crafters,CC11-160,1.0,1.0,FIXD,1320.0,AIR,...,OX-340CC-B3J3,180.0,HP,CARB,FIXP,1,6,20,20,20
15000,20200920X321511,137,NONE,Air Tractor,AT 402,1.0,1.0,FIXD,NaN,AIR,...,PT6A-34AG,680.0,HP,NaN,CONP,1,6,20,50,20
15001,20200922X851311,091,NONE,ZENITH,CH 750,2.0,NaN,FIXD,1440.0,AIR,...,110,110.0,NaN,FINJ,FIXP,1,2,24,97,2

#### Final Check

In [77]:
wingman_df_v2.shape

(15002, 45)

In [78]:
wingman_df_v2['id'].nunique()

15002

In [79]:
wingman_df_v2[wingman_df_v2.duplicated(subset='id', keep=False)].head()

Empty DataFrame
Columns: [id, far_part, flt_plan_filed, acft_make, acft_model, total_seats, num_eng, fixed_retractable, cert_max_gr_wt, acft_category, homebuilt, type_last_insp, afm_hrs_last_insp, afm_hrs, elt_install, elt_type, oper_dba, certs_held, type_fly, second_pilot, dprt_apt_id, dprt_time, dest_apt_id, site_seeing, air_medical, flight_hours_mean, crew_category, crew_sex, pc_profession, crew_tox_perf, mr_faa_med_certf, available_restraint, eng_no, eng_type, eng_mfgr, eng_model, power_units, hp_or_lbs, carb_fuel_injection, propeller_type, category_no, subcategory_no, section_no, subsection_no, modifier_no]
Index: []

[0 rows x 45 columns]

In [80]:
len(wingman_df_v2[wingman_df_v2.duplicated(subset='id', keep=False)])

0

In [81]:
wingman_df_v2.set_index('id', inplace=True)

In [82]:
wingman_df_v2.head()

,far_part,flt_plan_filed,acft_make,acft_model,total_seats,num_eng,fixed_retractable,cert_max_gr_wt,acft_category,homebuilt,...,eng_model,power_units,hp_or_lbs,carb_fuel_injection,propeller_type,category_no,subcategory_no,section_no,subsection_no,modifier_no
id,,,,,,,,,,,,,,,,,,,,,
20080107X000261,091,NONE,PIPER,PA 28-180,4.0,1.0,FIXD,2400.0,AIR,N,...,O-360-A3A,180.0,HP,CARB,NaN,2,4,15,10,45
20080107X000262,091,NONE,Barnard/Stancil,Glastar,2.0,1.0,FIXD,1960.0,AIR,Y,...,O-360,180.0,HP,CARB,NaN,2,4,15,10,44
20080115X000511,091,NONE,Cessna,152,2.0,1.0,FIXD,1670.0,AIR,N,...,O-235-L2C,110.0,HP,CARB,NaN,1,6,20,41,99
20080116X000631,135,CVFR,PIPER,PA-31-350,10.0,2.0,RETR,7368.0,AIR,N,...,TIO-540 Serie,350.0,HP,FINJ,NaN,1,3,52,30,13
20080122X000871,091,CVFR,BELL,407,7.0,1.0,FIXD,5000.0,HELI,N,...,250-C47B,674.0,HP,NaN,NaN,1,5,72,50,6

### Preselected dataset V3: 
- 'category_no' == y target
- Only Cat 1, 2 & 3 as values
- Therefore other tables (exc. Events_Sequence_df) are inner joined on 'id' column

In [83]:
wingman_df_v3 = merge_dataframes(Findings_df, [aircraft_df, engines_df, Flight_Crew_df, flight_time_df], 'id')

# Identify the columns we want to preserve
cols = ['id', 'far_part', 'flt_plan_filed', 'acft_make',
       'acft_model', 'total_seats', 'num_eng', 'fixed_retractable',
       'cert_max_gr_wt', 'acft_category', 'homebuilt', 'type_last_insp',
       'afm_hrs_last_insp', 'afm_hrs', 'elt_install', 'elt_type', 'oper_dba',
       'certs_held', 'type_fly', 'second_pilot', 'dprt_apt_id', 'dprt_time',
       'dest_apt_id', 'site_seeing', 'air_medical', 'flight_hours_mean',
       'crew_category', 'crew_sex', 'pc_profession', 'crew_tox_perf',
       'mr_faa_med_certf', 'available_restraint', 'eng_no', 'eng_type',
       'eng_mfgr', 'eng_model', 'power_units', 'hp_or_lbs',
       'carb_fuel_injection', 'propeller_type', 'category_no']

# Keep only the column names in wingman_df_v3 that are in the list 'cols'
wingman_df_v3 = wingman_df_v3[cols]

wingman_df_v3

,id,far_part,flt_plan_filed,acft_make,acft_model,total_seats,num_eng,fixed_retractable,cert_max_gr_wt,acft_category,...,available_restraint,eng_no,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,carb_fuel_injection,propeller_type,category_no
0,20080107X000261,091,NONE,PIPER,PA 28-180,4.0,1.0,FIXD,2400.0,AIR,...,NaN,1,REC,Textron Lycoming,O-360-A3A,180.0,HP,CARB,NaN,2
1,20080107X000262,091,NONE,Barnard/Stancil,Glastar,2.0,1.0,FIXD,1960.0,AIR,...,NaN,1,REC,Textron Lycoming,O-360,180.0,HP,CARB,NaN,2
2,20080115X000511,091,NONE,Cessna,152,2.0,1.0,FIXD,1670.0,AIR,...,NaN,1,REC,Lycoming,O-235-L2C,110.0,HP,CARB,NaN,1
3,20080116X000631,135,CVFR,PIPER,PA-31-350,10.0,2.0,RETR,7368.0,AIR,...,NaN,1,REC,Lycoming,TIO-540 Serie,350.0,HP,FINJ,NaN,1
4,20080122X000871,091,CVFR,BELL,407,7.0,1.0,FIXD,5000.0,HELI,...,NaN,1,TS,Rolls Royce,250-C47B,674.0,HP,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14997,20200911X009351,091,NONE,NAVION,B,4.0,1.0,FIXD,NaN,AIR,...,U,1,REC,Continental Motors,IO-550G,300.0,NaN,FINJ,NaN,2
14998,20200911X757461,091,VFR,Diamond,DA20,2.0,1.0,FIXD,1764.0,AIR,...,3,1,REC,Continental,IO-240-B,125.0,HP,FINJ,FIXP,2
14999,20200914X023201,091,NONE,Cub Crafters,CC11-160,1.0,1.0,FIXD,1320.0,AIR,...,4,1,REC,Continental,OX-340CC-B3J3,180.0,HP,CARB,FIXP,1
15000,20200920X321511,137,NONE,Air Tractor,AT 402,1.0,1.0,FIXD,NaN,AIR,...,4,1,TP,Pratt & Whitney,PT6A-34AG,680.0,HP,NaN,CONP,1
15001,20200922X851311,091,NONE,ZENITH,CH 750,2.0,NaN,FIXD,1440.0,AIR,...,3,1,REC,Viking Aircraft Engines,110,110.0,NaN,FINJ,FIXP,1

In [84]:
mask = (wingman_df_v3['category_no'] == 1) | (wingman_df_v3['category_no'] == 2) | (wingman_df_v3['category_no'] == 3)
wingman_df_v3 = wingman_df_v3[mask]

#### Final Check

In [85]:
wingman_df_v3.shape

(13941, 41)

In [86]:
wingman_df_v3['id'].nunique()

13941

In [87]:
wingman_df_v3[wingman_df_v3.duplicated(subset='id', keep=False)].head()

Empty DataFrame
Columns: [id, far_part, flt_plan_filed, acft_make, acft_model, total_seats, num_eng, fixed_retractable, cert_max_gr_wt, acft_category, homebuilt, type_last_insp, afm_hrs_last_insp, afm_hrs, elt_install, elt_type, oper_dba, certs_held, type_fly, second_pilot, dprt_apt_id, dprt_time, dest_apt_id, site_seeing, air_medical, flight_hours_mean, crew_category, crew_sex, pc_profession, crew_tox_perf, mr_faa_med_certf, available_restraint, eng_no, eng_type, eng_mfgr, eng_model, power_units, hp_or_lbs, carb_fuel_injection, propeller_type, category_no]
Index: []

[0 rows x 41 columns]

In [88]:
len(wingman_df_v3[wingman_df_v3.duplicated(subset='id', keep=False)])

0

In [89]:
wingman_df_v3.set_index('id', inplace=True)

In [90]:
wingman_df_v3.head()

,far_part,flt_plan_filed,acft_make,acft_model,total_seats,num_eng,fixed_retractable,cert_max_gr_wt,acft_category,homebuilt,...,available_restraint,eng_no,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,carb_fuel_injection,propeller_type,category_no
id,,,,,,,,,,,,,,,,,,,,,
20080107X000261,091,NONE,PIPER,PA 28-180,4.0,1.0,FIXD,2400.0,AIR,N,...,NaN,1,REC,Textron Lycoming,O-360-A3A,180.0,HP,CARB,NaN,2
20080107X000262,091,NONE,Barnard/Stancil,Glastar,2.0,1.0,FIXD,1960.0,AIR,Y,...,NaN,1,REC,Textron Lycoming,O-360,180.0,HP,CARB,NaN,2
20080115X000511,091,NONE,Cessna,152,2.0,1.0,FIXD,1670.0,AIR,N,...,NaN,1,REC,Lycoming,O-235-L2C,110.0,HP,CARB,NaN,1
20080116X000631,135,CVFR,PIPER,PA-31-350,10.0,2.0,RETR,7368.0,AIR,N,...,NaN,1,REC,Lycoming,TIO-540 Serie,350.0,HP,FINJ,NaN,1
20080122X000871,091,CVFR,BELL,407,7.0,1.0,FIXD,5000.0,HELI,N,...,NaN,1,TS,Rolls Royce,250-C47B,674.0,HP,NaN,NaN,1

### Preselected dataset V4: (* Pending mask of df to limit results as per 2nd bullet point)
- 'eventsoe_no' == y target
- Limited to top 10 most frequent values of the defining event code
- Therefore other tables (exc. Findings_df) are inner joined on 'id' column

In [97]:
wingman_df_v4 = merge_dataframes(Events_Sequence_df, [aircraft_df, engines_df, Flight_Crew_df, flight_time_df], 'id')

# Identify the columns we want to preserve
cols = ['id', 'far_part', 'flt_plan_filed', 'acft_make',
       'acft_model', 'total_seats', 'num_eng', 'fixed_retractable',
       'cert_max_gr_wt', 'acft_category', 'homebuilt', 'type_last_insp',
       'afm_hrs_last_insp', 'afm_hrs', 'elt_install', 'elt_type', 'oper_dba',
       'certs_held', 'type_fly', 'second_pilot', 'dprt_apt_id', 'dprt_time',
       'dest_apt_id', 'site_seeing', 'air_medical', 'flight_hours_mean',
       'crew_category', 'crew_sex', 'pc_profession', 'crew_tox_perf',
       'mr_faa_med_certf', 'available_restraint', 'eng_no', 'eng_type',
       'eng_mfgr', 'eng_model', 'power_units', 'hp_or_lbs',
       'carb_fuel_injection', 'propeller_type', 'eventsoe_no']

# Keep only the column names in wingman_df_v4 that are in the list 'cols'
wingman_df_v4 = wingman_df_v4[cols]

wingman_df_v4

,id,far_part,flt_plan_filed,acft_make,acft_model,total_seats,num_eng,fixed_retractable,cert_max_gr_wt,acft_category,...,available_restraint,eng_no,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,carb_fuel_injection,propeller_type,eventsoe_no
0,20080107X000261,091,NONE,PIPER,PA 28-180,4.0,1.0,FIXD,2400.0,AIR,...,NaN,1,REC,Textron Lycoming,O-360-A3A,180.0,HP,CARB,NaN,250
1,20080107X000262,091,NONE,Barnard/Stancil,Glastar,2.0,1.0,FIXD,1960.0,AIR,...,NaN,1,REC,Textron Lycoming,O-360,180.0,HP,CARB,NaN,250
2,20080109X000361,091,NONE,Micco Aircraft Company,MAC-145B,2.0,1.0,RETR,2850.0,AIR,...,NaN,1,REC,Lycoming,IO-540,260.0,HP,FINJ,NaN,230
3,20080107X000271,091,IFR,Pilatus,PC-12/45,9.0,1.0,RETR,9920.0,AIR,...,NaN,1,TP,Pratt & Whitney Canada,PT6A-67A,1200.0,HP,NaN,NaN,81
4,20080115X000511,091,NONE,Cessna,152,2.0,1.0,FIXD,1670.0,AIR,...,NaN,1,REC,Lycoming,O-235-L2C,110.0,HP,CARB,NaN,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18806,202303131068841,091,NONE,MAULE,M-7-235B,4.0,1.0,FIXD,2500.0,AIR,...,3,1,REC,Lycoming,O-540-J3A5,235.0,HP,CARB,CONP,96
18807,202303131068851,091,IFR,BEECH,F33A,5.0,1.0,RETR,3600.0,AIR,...,4,1,REC,Continental,IO-550-B,300.0,HP,FINJ,CONP,191
18808,202303241069471,091,NONE,FIEDLER MARK R,PA-18 REPLICA,2.0,1.0,FIXD,2300.0,AIR,...,5,1,REC,Titan,OX-360,180.0,HP,CARB,FIXP,96
18809,202303311069871,137,NONE,BELL,OH-58A,4.0,1.0,FIXD,3200.0,HELI,...,4,1,TS,ALLISON,T63 SERIES,420.0,HP,NaN,NaN,193
18810,202304101070311,091,NONE,PIPER,PA-28-180,4.0,1.0,FIXD,2400.0,AIR,...,L,1,REC,Lycoming,O-360-A4A,180.0,HP,CARB,FIXP,230

#### Final Check

In [ ]:
wingman_df_v4.shape

(18811, 41)

In [99]:
wingman_df_v4['id'].nunique()

18811

In [100]:
wingman_df_v4[wingman_df_v4.duplicated(subset='id', keep=False)].head()

Empty DataFrame
Columns: [id, far_part, flt_plan_filed, acft_make, acft_model, total_seats, num_eng, fixed_retractable, cert_max_gr_wt, acft_category, homebuilt, type_last_insp, afm_hrs_last_insp, afm_hrs, elt_install, elt_type, oper_dba, certs_held, type_fly, second_pilot, dprt_apt_id, dprt_time, dest_apt_id, site_seeing, air_medical, flight_hours_mean, crew_category, crew_sex, pc_profession, crew_tox_perf, mr_faa_med_certf, available_restraint, eng_no, eng_type, eng_mfgr, eng_model, power_units, hp_or_lbs, carb_fuel_injection, propeller_type, eventsoe_no]
Index: []

[0 rows x 41 columns]

In [101]:
len(wingman_df_v4[wingman_df_v4.duplicated(subset='id', keep=False)])

0

In [102]:
wingman_df_v4.set_index('id', inplace=True)

In [103]:
wingman_df_v4.head()

,far_part,flt_plan_filed,acft_make,acft_model,total_seats,num_eng,fixed_retractable,cert_max_gr_wt,acft_category,homebuilt,...,available_restraint,eng_no,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,carb_fuel_injection,propeller_type,eventsoe_no
id,,,,,,,,,,,,,,,,,,,,,
20080107X000261,091,NONE,PIPER,PA 28-180,4.0,1.0,FIXD,2400.0,AIR,N,...,NaN,1,REC,Textron Lycoming,O-360-A3A,180.0,HP,CARB,NaN,250
20080107X000262,091,NONE,Barnard/Stancil,Glastar,2.0,1.0,FIXD,1960.0,AIR,Y,...,NaN,1,REC,Textron Lycoming,O-360,180.0,HP,CARB,NaN,250
20080109X000361,091,NONE,Micco Aircraft Company,MAC-145B,2.0,1.0,RETR,2850.0,AIR,N,...,NaN,1,REC,Lycoming,IO-540,260.0,HP,FINJ,NaN,230
20080107X000271,091,IFR,Pilatus,PC-12/45,9.0,1.0,RETR,9920.0,AIR,N,...,NaN,1,TP,Pratt & Whitney Canada,PT6A-67A,1200.0,HP,NaN,NaN,81
20080115X000511,091,NONE,Cessna,152,2.0,1.0,FIXD,1670.0,AIR,N,...,NaN,1,REC,Lycoming,O-235-L2C,110.0,HP,CARB,NaN,240

### Preselected dataset V5: 
- 'category_no' == 1 (Aircraft Branch), 'subcategory_no' == y targets
- Therefore other tables (exc. Events_Sequence_df) are inner joined on 'id' column

In [ ]:
wingman_df_v5 = merge_dataframes(Findings_df, [aircraft_df, engines_df, Flight_Crew_df, flight_time_df], 'id')

# Identify the columns we want to preserve
cols = ['id', 'far_part', 'flt_plan_filed', 'acft_make',
       'acft_model', 'total_seats', 'num_eng', 'fixed_retractable',
       'cert_max_gr_wt', 'acft_category', 'homebuilt', 'type_last_insp',
       'afm_hrs_last_insp', 'afm_hrs', 'elt_install', 'elt_type', 'oper_dba',
       'certs_held', 'type_fly', 'second_pilot', 'dprt_apt_id', 'dprt_time',
       'dest_apt_id', 'site_seeing', 'air_medical', 'flight_hours_mean',
       'crew_category', 'crew_sex', 'pc_profession', 'crew_tox_perf',
       'mr_faa_med_certf', 'available_restraint', 'eng_no', 'eng_type',
       'eng_mfgr', 'eng_model', 'power_units', 'hp_or_lbs',
       'carb_fuel_injection', 'propeller_type', 'category_no', 'subcategory_no']

# Keep only the column names in wingman_df_v2 that are in the list 'cols'
wingman_df_v5 = wingman_df_v5[cols]

wingman_df_v5

,id,far_part,flt_plan_filed,acft_make,acft_model,total_seats,num_eng,fixed_retractable,cert_max_gr_wt,acft_category,...,eng_no,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,carb_fuel_injection,propeller_type,category_no,subcategory_no
0,20080107X000261,091,NONE,PIPER,PA 28-180,4.0,1.0,FIXD,2400.0,AIR,...,1,REC,Textron Lycoming,O-360-A3A,180.0,HP,CARB,NaN,2,4
1,20080107X000262,091,NONE,Barnard/Stancil,Glastar,2.0,1.0,FIXD,1960.0,AIR,...,1,REC,Textron Lycoming,O-360,180.0,HP,CARB,NaN,2,4
2,20080115X000511,091,NONE,Cessna,152,2.0,1.0,FIXD,1670.0,AIR,...,1,REC,Lycoming,O-235-L2C,110.0,HP,CARB,NaN,1,6
3,20080116X000631,135,CVFR,PIPER,PA-31-350,10.0,2.0,RETR,7368.0,AIR,...,1,REC,Lycoming,TIO-540 Serie,350.0,HP,FINJ,NaN,1,3
4,20080122X000871,091,CVFR,BELL,407,7.0,1.0,FIXD,5000.0,HELI,...,1,TS,Rolls Royce,250-C47B,674.0,HP,NaN,NaN,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14997,20200911X009351,091,NONE,NAVION,B,4.0,1.0,FIXD,NaN,AIR,...,1,REC,Continental Motors,IO-550G,300.0,NaN,FINJ,NaN,2,6
14998,20200911X757461,091,VFR,Diamond,DA20,2.0,1.0,FIXD,1764.0,AIR,...,1,REC,Continental,IO-240-B,125.0,HP,FINJ,FIXP,2,4
14999,20200914X023201,091,NONE,Cub Crafters,CC11-160,1.0,1.0,FIXD,1320.0,AIR,...,1,REC,Continental,OX-340CC-B3J3,180.0,HP,CARB,FIXP,1,6
15000,20200920X321511,137,NONE,Air Tractor,AT 402,1.0,1.0,FIXD,NaN,AIR,...,1,TP,Pratt & Whitney,PT6A-34AG,680.0,HP,NaN,CONP,1,6
15001,20200922X851311,091,NONE,ZENITH,CH 750,2.0,NaN,FIXD,1440.0,AIR,...,1,REC,Viking Aircraft Engines,110,110.0,NaN,FINJ,FIXP,1,2

In [ ]:
mask = wingman_df_v5['category_no'] == 1
wingman_df_v5 = wingman_df_v5[mask]

wingman_df_v5.drop(['category_no'], axis=1, inplace=True)

/tmp/ipykernel_12194/1422328620.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wingman_df_v5.drop(['category_no'], axis=1, inplace=True)

#### Final Check

In [ ]:
wingman_df_v5.shape

(6935, 41)

In [ ]:
wingman_df_v5['id'].nunique()

6935

In [ ]:
wingman_df_v5[wingman_df_v5.duplicated(subset='id', keep=False)].head()

Empty DataFrame
Columns: [id, far_part, flt_plan_filed, acft_make, acft_model, total_seats, num_eng, fixed_retractable, cert_max_gr_wt, acft_category, homebuilt, type_last_insp, afm_hrs_last_insp, afm_hrs, elt_install, elt_type, oper_dba, certs_held, type_fly, second_pilot, dprt_apt_id, dprt_time, dest_apt_id, site_seeing, air_medical, flight_hours_mean, crew_category, crew_sex, pc_profession, crew_tox_perf, mr_faa_med_certf, available_restraint, eng_no, eng_type, eng_mfgr, eng_model, power_units, hp_or_lbs, carb_fuel_injection, propeller_type, subcategory_no]
Index: []

[0 rows x 41 columns]

In [ ]:
len(wingman_df_v5[wingman_df_v5.duplicated(subset='id', keep=False)])

0

In [ ]:
wingman_df_v5.set_index('id', inplace=True)

In [ ]:
wingman_df_v5.head()

,far_part,flt_plan_filed,acft_make,acft_model,total_seats,num_eng,fixed_retractable,cert_max_gr_wt,acft_category,homebuilt,...,available_restraint,eng_no,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,carb_fuel_injection,propeller_type,subcategory_no
id,,,,,,,,,,,,,,,,,,,,,
20080115X000511,091,NONE,Cessna,152,2.0,1.0,FIXD,1670.0,AIR,N,...,NaN,1,REC,Lycoming,O-235-L2C,110.0,HP,CARB,NaN,6
20080116X000631,135,CVFR,PIPER,PA-31-350,10.0,2.0,RETR,7368.0,AIR,N,...,NaN,1,REC,Lycoming,TIO-540 Serie,350.0,HP,FINJ,NaN,3
20080122X000871,091,CVFR,BELL,407,7.0,1.0,FIXD,5000.0,HELI,N,...,NaN,1,TS,Rolls Royce,250-C47B,674.0,HP,NaN,NaN,5
20080220X002121,091,NONE,Bellanca,7GCBC,2.0,1.0,FIXD,1650.0,AIR,N,...,NaN,1,REC,Lycoming,O-320,150.0,HP,CARB,NaN,6
20080207X001531,091,NONE,Bell,206 B2,5.0,1.0,FIXD,NaN,HELI,N,...,NaN,1,TS,Rolls-Royce,250 C-20B,400.0,HP,NaN,NaN,4

### Preselected dataset V6: 
- 'category_no' == 2 (Personnel Branch), 'subcategory_no' == y targets
- Therefore other tables (exc. Events_Sequence_df) are inner joined on 'id' column

In [69]:
wingman_df_v6 = merge_dataframes(Findings_df, [aircraft_df, engines_df, Flight_Crew_df, flight_time_df], 'id')

# Identify the columns we want to preserve
cols = ['id', 'far_part', 'flt_plan_filed', 'acft_make',
       'acft_model', 'total_seats', 'num_eng', 'fixed_retractable',
       'cert_max_gr_wt', 'acft_category', 'homebuilt', 'type_last_insp',
       'afm_hrs_last_insp', 'afm_hrs', 'elt_install', 'elt_type', 'oper_dba',
       'certs_held', 'type_fly', 'second_pilot', 'dprt_apt_id', 'dprt_time',
       'dest_apt_id', 'site_seeing', 'air_medical', 'flight_hours_mean',
       'crew_category', 'crew_sex', 'pc_profession', 'crew_tox_perf',
       'mr_faa_med_certf', 'available_restraint', 'eng_no', 'eng_type',
       'eng_mfgr', 'eng_model', 'power_units', 'hp_or_lbs',
       'carb_fuel_injection', 'propeller_type', 'category_no', 'subcategory_no']

# Keep only the column names in wingman_df_v2 that are in the list 'cols'
wingman_df_v6 = wingman_df_v6[cols]

wingman_df_v6

,id,far_part,flt_plan_filed,acft_make,acft_model,total_seats,num_eng,fixed_retractable,cert_max_gr_wt,acft_category,...,eng_no,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,carb_fuel_injection,propeller_type,category_no,subcategory_no
0,20080107X000261,091,NONE,PIPER,PA 28-180,4.0,1.0,FIXD,2400.0,AIR,...,1,REC,Textron Lycoming,O-360-A3A,180.0,HP,CARB,NaN,2,4
1,20080107X000262,091,NONE,Barnard/Stancil,Glastar,2.0,1.0,FIXD,1960.0,AIR,...,1,REC,Textron Lycoming,O-360,180.0,HP,CARB,NaN,2,4
2,20080115X000511,091,NONE,Cessna,152,2.0,1.0,FIXD,1670.0,AIR,...,1,REC,Lycoming,O-235-L2C,110.0,HP,CARB,NaN,1,6
3,20080116X000631,135,CVFR,PIPER,PA-31-350,10.0,2.0,RETR,7368.0,AIR,...,1,REC,Lycoming,TIO-540 Serie,350.0,HP,FINJ,NaN,1,3
4,20080122X000871,091,CVFR,BELL,407,7.0,1.0,FIXD,5000.0,HELI,...,1,TS,Rolls Royce,250-C47B,674.0,HP,NaN,NaN,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14997,20200911X009351,091,NONE,NAVION,B,4.0,1.0,FIXD,NaN,AIR,...,1,REC,Continental Motors,IO-550G,300.0,NaN,FINJ,NaN,2,6
14998,20200911X757461,091,VFR,Diamond,DA20,2.0,1.0,FIXD,1764.0,AIR,...,1,REC,Continental,IO-240-B,125.0,HP,FINJ,FIXP,2,4
14999,20200914X023201,091,NONE,Cub Crafters,CC11-160,1.0,1.0,FIXD,1320.0,AIR,...,1,REC,Continental,OX-340CC-B3J3,180.0,HP,CARB,FIXP,1,6
15000,20200920X321511,137,NONE,Air Tractor,AT 402,1.0,1.0,FIXD,NaN,AIR,...,1,TP,Pratt & Whitney,PT6A-34AG,680.0,HP,NaN,CONP,1,6
15001,20200922X851311,091,NONE,ZENITH,CH 750,2.0,NaN,FIXD,1440.0,AIR,...,1,REC,Viking Aircraft Engines,110,110.0,NaN,FINJ,FIXP,1,2

In [70]:
mask = wingman_df_v6['category_no'] == 2
wingman_df_v6 = wingman_df_v6[mask]

wingman_df_v6.drop(['category_no'], axis=1, inplace=True)

/tmp/ipykernel_2923/70165247.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wingman_df_v6.drop(['category_no'], axis=1, inplace=True)

#### Final Check

In [71]:
wingman_df_v6.shape

(6207, 41)

In [72]:
wingman_df_v6['id'].nunique()

6207

In [73]:
wingman_df_v6[wingman_df_v6.duplicated(subset='id', keep=False)].head()

Empty DataFrame
Columns: [id, far_part, flt_plan_filed, acft_make, acft_model, total_seats, num_eng, fixed_retractable, cert_max_gr_wt, acft_category, homebuilt, type_last_insp, afm_hrs_last_insp, afm_hrs, elt_install, elt_type, oper_dba, certs_held, type_fly, second_pilot, dprt_apt_id, dprt_time, dest_apt_id, site_seeing, air_medical, flight_hours_mean, crew_category, crew_sex, pc_profession, crew_tox_perf, mr_faa_med_certf, available_restraint, eng_no, eng_type, eng_mfgr, eng_model, power_units, hp_or_lbs, carb_fuel_injection, propeller_type, subcategory_no]
Index: []

[0 rows x 41 columns]

In [74]:
len(wingman_df_v6[wingman_df_v6.duplicated(subset='id', keep=False)])

0

In [75]:
wingman_df_v6.set_index('id', inplace=True)

In [76]:
wingman_df_v6.head()

,far_part,flt_plan_filed,acft_make,acft_model,total_seats,num_eng,fixed_retractable,cert_max_gr_wt,acft_category,homebuilt,...,available_restraint,eng_no,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,carb_fuel_injection,propeller_type,subcategory_no
id,,,,,,,,,,,,,,,,,,,,,
20080107X000261,091,NONE,PIPER,PA 28-180,4.0,1.0,FIXD,2400.0,AIR,N,...,NaN,1,REC,Textron Lycoming,O-360-A3A,180.0,HP,CARB,NaN,4
20080107X000262,091,NONE,Barnard/Stancil,Glastar,2.0,1.0,FIXD,1960.0,AIR,Y,...,NaN,1,REC,Textron Lycoming,O-360,180.0,HP,CARB,NaN,4
20080219X002031,091,NONE,Cessna,150G,2.0,1.0,FIXD,1600.0,AIR,N,...,NaN,1,REC,Continental,O-200-A,100.0,HP,CARB,NaN,6
20080213X001791,091,NONE,DeSousa,Jabiru J400,4.0,1.0,FIXD,1540.0,AIR,Y,...,NaN,1,REC,Jabiru,3300,120.0,HP,CARB,NaN,4
20080219X002041,091,NONE,Cessna,C-152,2.0,1.0,FIXD,1670.0,AIR,N,...,NaN,1,REC,Lycoming,O-235,NaN,NaN,CARB,NaN,4

## Export to CSV

In [ ]:
# Write V1 to CSV

import os
 
output_directory = r"/home/aaron/code/AaronDV17/wingman-project/raw_data/trimmed_data"

output_file = os.path.join(output_directory, "wingman_data_v1.csv")

pd.DataFrame.to_csv(wingman_df_v1, output_file)

In [ ]:
# Write V2 to CSV

import os
 
output_directory = r"/home/aaron/code/AaronDV17/wingman-project/raw_data/trimmed_data"

output_file = os.path.join(output_directory, "wingman_data_v2.csv")

pd.DataFrame.to_csv(wingman_df_v2, output_file)

In [ ]:
# Write V3 to CSV

import os
 
output_directory = r"/home/aaron/code/AaronDV17/wingman-project/raw_data/trimmed_data"

output_file = os.path.join(output_directory, "wingman_data_v3.csv")

pd.DataFrame.to_csv(wingman_df_v3, output_file)

In [ ]:
# Write V4 to CSV

import os
 
output_directory = r"/home/aaron/code/AaronDV17/wingman-project/raw_data/trimmed_data"

output_file = os.path.join(output_directory, "wingman_data_v4.csv")

pd.DataFrame.to_csv(wingman_df_v4, output_file)

In [132]:
# Write V5 to CSV

import os
 
output_directory = r"/home/aaron/code/AaronDV17/wingman-project/raw_data/trimmed_data"

output_file = os.path.join(output_directory, "wingman_data_v5.csv")

pd.DataFrame.to_csv(wingman_df_v5, output_file)

In [77]:
# Write V6 to CSV

import os
 
output_directory = r"/home/aaron/code/AaronDV17/wingman-project/raw_data/trimmed_data"

output_file = os.path.join(output_directory, "wingman_data_v6.csv")

pd.DataFrame.to_csv(wingman_df_v6, output_file)