## Imports

In [1]:
# IMPORTS
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

## Load Data

In [2]:
# Essential
aircraft_df = pd.read_csv('../raw_data/csv/aircraft.csv')
engines_df = pd.read_csv('../raw_data/csv/engines.csv')
Events_Sequence_df = pd.read_csv('../raw_data/csv/Events_Sequence.csv')
events_df = pd.read_csv('../raw_data/csv/events.csv')
Flight_Crew_df = pd.read_csv('../raw_data/csv/Flight_Crew.csv')
flight_time_df = pd.read_csv('../raw_data/csv/flight_time.csv')

# Optional - Nice to have, but not essential
Findings_df = pd.read_csv('../raw_data/csv/Findings.csv')
injury_df = pd.read_csv('../raw_data/csv/injury.csv')

# Optional - Only if there is extra time
dt_aircraft_df = pd.read_csv('../raw_data/csv/dt_aircraft.csv')
dt_events_df = pd.read_csv('../raw_data/csv/dt_events.csv')
dt_Flight_Crew_df = pd.read_csv('../raw_data/csv/dt_Flight_Crew.csv')

/tmp/ipykernel_17382/1129666278.py:2: DtypeWarning: Columns (0,59) have mixed types. Specify dtype option on import or set low_memory=False.
  aircraft_df = pd.read_csv('../raw_data/csv/aircraft.csv')
/tmp/ipykernel_17382/1129666278.py:5: DtypeWarning: Columns (0,31,51) have mixed types. Specify dtype option on import or set low_memory=False.
  events_df = pd.read_csv('../raw_data/csv/events.csv')

## Dataset Preparation

### 1. aircraft

##### Info

In [3]:
aircraft_df.shape

(26064, 93)

In [4]:
aircraft_df.head()

,ev_id,Aircraft_Key,regis_no,ntsb_no,acft_missing,far_part,flt_plan_filed,flight_plan_activated,damage,acft_fire,...,acft_year,fuel_on_board,commercial_space_flight,unmanned,ifr_equipped_cert,elt_mounted_aircraft,elt_connected_antenna,elt_manufacturer,elt_model,elt_reason_other
0,20080211X00175,1,N530NA,DFW08RA039,N,NUSN,NaN,NaN,SUBS,NaN,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
1,20080107X00026,1,N8037W,SEA08LA057A,N,091,NONE,NaN,MINR,NONE,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
2,20080107X00026,2,N15EX,SEA08LA057B,N,091,NONE,NaN,SUBS,NONE,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
3,20080109X00036,1,N579RM,DFW08CA054,N,091,NONE,N,SUBS,NONE,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
4,20080107X00027,1,N398J,DFW08LA055,N,091,IFR,Y,NaN,NONE,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN

In [5]:
aircraft_df['ev_id'].nunique()

25653

##### Basic

In [6]:
aircraft_df['id'] = (aircraft_df['ev_id'].astype(str) + aircraft_df['Aircraft_Key'].astype(str)).astype('object')

aircraft_df.drop(['ev_id', 'Aircraft_Key'], axis=1, inplace=True)

##### Final Check

In [7]:
aircraft_df.shape

(26064, 92)

In [8]:
aircraft_df['id'].nunique()

26064

In [9]:
len(aircraft_df[aircraft_df.duplicated(subset='id', keep=False)])

0

In [10]:
aircraft_df.head()

,regis_no,ntsb_no,acft_missing,far_part,flt_plan_filed,flight_plan_activated,damage,acft_fire,acft_expl,acft_make,...,fuel_on_board,commercial_space_flight,unmanned,ifr_equipped_cert,elt_mounted_aircraft,elt_connected_antenna,elt_manufacturer,elt_model,elt_reason_other,id
0,N530NA,DFW08RA039,N,NUSN,NaN,NaN,SUBS,NaN,NaN,Eurocopter France,...,NaN,False,False,False,False,False,NaN,NaN,NaN,20080211X001751
1,N8037W,SEA08LA057A,N,091,NONE,NaN,MINR,NONE,NONE,PIPER,...,NaN,False,False,False,False,False,NaN,NaN,NaN,20080107X000261
2,N15EX,SEA08LA057B,N,091,NONE,NaN,SUBS,NONE,NONE,Barnard/Stancil,...,NaN,False,False,False,False,False,NaN,NaN,NaN,20080107X000262
3,N579RM,DFW08CA054,N,091,NONE,N,SUBS,NONE,NONE,Micco Aircraft Company,...,NaN,False,False,False,False,False,NaN,NaN,NaN,20080109X000361
4,N398J,DFW08LA055,N,091,IFR,Y,NaN,NONE,NONE,Pilatus,...,NaN,False,False,False,False,False,NaN,NaN,NaN,20080107X000271

### 2. engines

##### Info

In [11]:
engines_df.shape

(23669, 17)

In [12]:
engines_df.head()

,ev_id,Aircraft_Key,eng_no,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,lchg_userid,lchg_date,carb_fuel_injection,propeller_type,propeller_make,propeller_model,eng_time_total,eng_time_last_insp,eng_time_overhaul
0,20080107X00026,1,1,REC,Textron Lycoming,O-360-A3A,180.0,HP,NaN,2020-09-25 18:05:31,CARB,NaN,NaN,NaN,0.0,0.0,0.0
1,20080107X00026,2,1,REC,Textron Lycoming,O-360,180.0,HP,NaN,2020-09-25 18:05:31,CARB,NaN,NaN,NaN,0.0,0.0,0.0
2,20080109X00036,1,1,REC,Lycoming,IO-540,260.0,HP,NaN,2020-09-25 18:05:31,FINJ,NaN,NaN,NaN,0.0,0.0,0.0
3,20080107X00027,1,1,TP,Pratt & Whitney Canada,PT6A-67A,1200.0,HP,NaN,2020-09-25 18:04:02,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,20080115X00051,1,1,REC,Lycoming,O-235-L2C,110.0,HP,NaN,2020-09-25 18:06:16,CARB,NaN,NaN,NaN,0.0,0.0,0.0

In [13]:
engines_df['ev_id'].nunique()

20657

##### Basic

In [14]:
engines_df['id'] = (engines_df['ev_id'].astype(str) + engines_df['Aircraft_Key'].astype(str)).astype('object')

engines_df.drop(['ev_id', 'Aircraft_Key'], axis=1, inplace=True)

##### Duplicate Dropping

In [15]:
mask = engines_df['eng_no'] == 1

engines_df = engines_df[mask]
engines_df.drop(['eng_no'], axis=1, inplace=True)

##### Final Check

In [16]:
engines_df.shape

(20876, 15)

In [17]:
engines_df['id'].nunique()

20876

In [18]:
len(engines_df[engines_df.duplicated(subset='id', keep=False)])

0

In [19]:
engines_df.head()

,eng_type,eng_mfgr,eng_model,power_units,hp_or_lbs,lchg_userid,lchg_date,carb_fuel_injection,propeller_type,propeller_make,propeller_model,eng_time_total,eng_time_last_insp,eng_time_overhaul,id
0,REC,Textron Lycoming,O-360-A3A,180.0,HP,NaN,2020-09-25 18:05:31,CARB,NaN,NaN,NaN,0.0,0.0,0.0,20080107X000261
1,REC,Textron Lycoming,O-360,180.0,HP,NaN,2020-09-25 18:05:31,CARB,NaN,NaN,NaN,0.0,0.0,0.0,20080107X000262
2,REC,Lycoming,IO-540,260.0,HP,NaN,2020-09-25 18:05:31,FINJ,NaN,NaN,NaN,0.0,0.0,0.0,20080109X000361
3,TP,Pratt & Whitney Canada,PT6A-67A,1200.0,HP,NaN,2020-09-25 18:04:02,NaN,NaN,NaN,NaN,0.0,0.0,0.0,20080107X000271
4,REC,Lycoming,O-235-L2C,110.0,HP,NaN,2020-09-25 18:06:16,CARB,NaN,NaN,NaN,0.0,0.0,0.0,20080115X000511

### 3. Events_Sequence

##### Info

In [20]:
Events_Sequence_df.shape

(55838, 10)

In [21]:
Events_Sequence_df.head()

,ev_id,Aircraft_Key,Occurrence_No,Occurrence_Code,Occurrence_Description,phase_no,eventsoe_no,Defining_ev,lchg_date,lchg_userid
0,20080107X00026,1,1,550250,Landing Midair collision,550,250,True,2020-09-25 18:05:31,NaN
1,20080107X00026,2,1,350250,Initial climb Midair collision,350,250,True,2020-09-25 18:05:31,NaN
2,20080109X00036,1,1,551230,Landing-flare/touchdown Loss of control on ground,551,230,True,2020-09-25 18:05:31,NaN
3,20080109X00036,1,2,550300,Landing Runway excursion,550,300,False,2020-09-25 18:05:31,NaN
4,20080107X00027,1,1,153081,Standing-engine(s) operating AC/prop/rotor con...,153,81,True,2020-09-25 18:04:02,NaN

In [22]:
Events_Sequence_df['ev_id'].nunique()

24999

##### Basic

In [23]:
Events_Sequence_df['id'] = (Events_Sequence_df['ev_id'].astype(str) + Events_Sequence_df['Aircraft_Key'].astype(str)).astype('object')

Events_Sequence_df.drop(['ev_id', 'Aircraft_Key'], axis=1, inplace=True)

##### Duplicate Dropping

In [24]:
mask = Events_Sequence_df['Defining_ev'] == True

Events_Sequence_df = Events_Sequence_df[mask]
Events_Sequence_df.drop(['Defining_ev'], axis=1, inplace=True)

##### Final Check

In [25]:
Events_Sequence_df.shape

(25154, 8)

In [26]:
Events_Sequence_df['id'].nunique()

25154

In [27]:
len(Events_Sequence_df[Events_Sequence_df.duplicated(subset='id', keep=False)])

0

In [28]:
Events_Sequence_df.head()

,Occurrence_No,Occurrence_Code,Occurrence_Description,phase_no,eventsoe_no,lchg_date,lchg_userid,id
0,1,550250,Landing Midair collision,550,250,2020-09-25 18:05:31,NaN,20080107X000261
1,1,350250,Initial climb Midair collision,350,250,2020-09-25 18:05:31,NaN,20080107X000262
2,1,551230,Landing-flare/touchdown Loss of control on ground,551,230,2020-09-25 18:05:31,NaN,20080109X000361
4,1,153081,Standing-engine(s) operating AC/prop/rotor con...,153,81,2020-09-25 18:04:02,NaN,20080107X000271
5,1,551240,Landing-flare/touchdown Loss of control in flight,551,240,2020-09-25 18:06:16,NaN,20080115X000511

### 4. events *['ev_id']

##### Info

In [29]:
events_df.shape

(25653, 73)

In [30]:
events_df.head()

,ev_id,ntsb_no,ev_type,ev_date,ev_dow,ev_time,ev_tmzn,ev_city,ev_state,ev_country,...,ntsb_notf_from,ntsb_notf_date,ntsb_notf_tm,fiche_number,lchg_date,lchg_userid,wx_cond_basic,faa_dist_office,dec_latitude,dec_longitude
0,20080211X00175,DFW08RA039,ACC,2008-01-10,Th,1907.0,UTC,"Pitt Meadow, BC",NaN,CA,...,NaN,NaN,NaN,NaN,2020-09-25 18:07:50,NaN,NaN,NaN,NaN,NaN
1,20080107X00026,SEA08LA057,ACC,2008-01-01,Tu,2230.0,UTC,Sonoma,CA,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:05:31,NaN,VMC,NaN,38.223888,-122.449722
2,20080109X00036,DFW08CA054,ACC,2008-01-01,Tu,2200.0,UTC,Arcola,TX,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:05:31,NaN,VMC,NaN,29.506111,-95.476669
3,20080107X00027,DFW08LA055,ACC,2008-01-03,Th,825.0,UTC,Oklahoma City,OK,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:04:02,NaN,VMC,NaN,35.533611,-97.641387
4,20080115X00051,DEN08CA047,ACC,2008-01-02,We,2230.0,UTC,Loveland,CO,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:06:16,NaN,VMC,NaN,40.451667,-105.001113

##### Final Check

In [31]:
events_df.shape

(25653, 73)

In [32]:
events_df['ev_id'].nunique()

25653

In [33]:
len(events_df[events_df.duplicated(subset='ev_id', keep=False)])

0

In [34]:
events_df.head()

,ev_id,ntsb_no,ev_type,ev_date,ev_dow,ev_time,ev_tmzn,ev_city,ev_state,ev_country,...,ntsb_notf_from,ntsb_notf_date,ntsb_notf_tm,fiche_number,lchg_date,lchg_userid,wx_cond_basic,faa_dist_office,dec_latitude,dec_longitude
0,20080211X00175,DFW08RA039,ACC,2008-01-10,Th,1907.0,UTC,"Pitt Meadow, BC",NaN,CA,...,NaN,NaN,NaN,NaN,2020-09-25 18:07:50,NaN,NaN,NaN,NaN,NaN
1,20080107X00026,SEA08LA057,ACC,2008-01-01,Tu,2230.0,UTC,Sonoma,CA,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:05:31,NaN,VMC,NaN,38.223888,-122.449722
2,20080109X00036,DFW08CA054,ACC,2008-01-01,Tu,2200.0,UTC,Arcola,TX,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:05:31,NaN,VMC,NaN,29.506111,-95.476669
3,20080107X00027,DFW08LA055,ACC,2008-01-03,Th,825.0,UTC,Oklahoma City,OK,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:04:02,NaN,VMC,NaN,35.533611,-97.641387
4,20080115X00051,DEN08CA047,ACC,2008-01-02,We,2230.0,UTC,Loveland,CO,USA,...,NaN,NaN,NaN,NaN,2020-09-25 18:06:16,NaN,VMC,NaN,40.451667,-105.001113

### 5. Flight_Crew

##### Info

In [35]:
Flight_Crew_df.shape

(26270, 33)

In [36]:
Flight_Crew_df.head()

,ev_id,Aircraft_Key,crew_no,crew_category,crew_age,crew_sex,crew_city,crew_res_state,crew_res_country,med_certf,...,lchg_userid,seat_occ_row,infl_rest_inst,infl_rest_depl,child_restraint,med_crtf_limit,mr_faa_med_certf,pilot_flying,available_restraint,restraint_used
0,20080107X00026,1,1,PLT,56.0,M,Novato,CA,USA,CL3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
1,20080107X00026,2,1,PLT,70.0,M,Pioneer,CA,USA,CL3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
2,20080109X00036,1,1,PLT,54.0,F,Gonzales,TX,USA,CL3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
3,20080107X00027,1,1,PLT,59.0,M,Conroe,TX,USA,CL2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
4,20080115X00051,1,1,DSTU,36.0,M,Loveland,CO,USA,CL3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN

In [37]:
Flight_Crew_df['ev_id'].nunique()

20697

##### Basic

In [38]:
Flight_Crew_df['id'] = (Flight_Crew_df['ev_id'].astype(str) + Flight_Crew_df['Aircraft_Key'].astype(str)).astype('object')

Flight_Crew_df.drop(['ev_id', 'Aircraft_Key'], axis=1, inplace=True)

##### Duplicate Dropping

In [39]:
mask = (Flight_Crew_df['crew_category'].isin(['PLT','DSTU','FLTI','CPLT','KPLT'])) & (Flight_Crew_df['crew_no'] == 1)

Flight_Crew_df = Flight_Crew_df[mask]
Flight_Crew_df.drop(['crew_no'], axis=1, inplace=True)

##### Final Check

In [40]:
Flight_Crew_df.shape

(20693, 31)

In [41]:
Flight_Crew_df['id'].nunique()

20693

In [42]:
Flight_Crew_df[Flight_Crew_df.duplicated(subset='id', keep=False)].head()

Empty DataFrame
Columns: [crew_category, crew_age, crew_sex, crew_city, crew_res_state, crew_res_country, med_certf, med_crtf_vldty, date_lst_med, crew_rat_endorse, crew_inj_level, seatbelts_used, shldr_harn_used, crew_tox_perf, seat_occ_pic, pc_profession, bfr, bfr_date, ft_as_of, lchg_date, lchg_userid, seat_occ_row, infl_rest_inst, infl_rest_depl, child_restraint, med_crtf_limit, mr_faa_med_certf, pilot_flying, available_restraint, restraint_used, id]
Index: []

[0 rows x 31 columns]

In [43]:
len(Flight_Crew_df[Flight_Crew_df.duplicated(subset='id', keep=False)])

0

In [44]:
Flight_Crew_df.head()

,crew_category,crew_age,crew_sex,crew_city,crew_res_state,crew_res_country,med_certf,med_crtf_vldty,date_lst_med,crew_rat_endorse,...,seat_occ_row,infl_rest_inst,infl_rest_depl,child_restraint,med_crtf_limit,mr_faa_med_certf,pilot_flying,available_restraint,restraint_used,id
0,PLT,56.0,M,Novato,CA,USA,CL3,WWL,2007-11-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,20080107X000261
1,PLT,70.0,M,Pioneer,CA,USA,CL3,WWL,2006-12-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,20080107X000262
2,PLT,54.0,F,Gonzales,TX,USA,CL3,WWL,2006-09-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,20080109X000361
3,PLT,59.0,M,Conroe,TX,USA,CL2,NaN,2007-06-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,20080107X000271
4,DSTU,36.0,M,Loveland,CO,USA,CL3,WOWL,2007-12-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,20080115X000511

### 6. flight_time

##### Info

In [45]:
flight_time_df.shape

(327193, 8)

In [46]:
flight_time_df.head()

,ev_id,Aircraft_Key,crew_no,flight_type,flight_craft,flight_hours,lchg_date,lchg_userid
0,20080107X00026,1,1,L90D,ACTU,3.0,2020-09-25 18:05:31,NaN
1,20080107X00026,1,1,L90D,ALL,29.0,2020-09-25 18:05:31,NaN
2,20080107X00026,1,1,L90D,MAKE,29.0,2020-09-25 18:05:31,NaN
3,20080107X00026,1,1,L90D,SENG,29.0,2020-09-25 18:05:31,NaN
4,20080107X00026,1,1,L90D,SIMU,26.0,2020-09-25 18:05:31,NaN

In [47]:
flight_time_df['ev_id'].nunique()

19432

##### Basic

In [48]:
flight_time_df['id'] = (flight_time_df['ev_id'].astype(str) + flight_time_df['Aircraft_Key'].astype(str)).astype('object')

flight_time_df.drop(['ev_id', 'Aircraft_Key'], axis=1, inplace=True)

##### Duplicate Dropping

In [49]:
mask = (flight_time_df['flight_craft'] == 'ALL') & (flight_time_df['flight_type'] == 'TOTL')

flight_time_df = flight_time_df[mask]
flight_time_df.drop(['flight_craft', 'flight_type'], axis=1, inplace=True)

In [50]:
flight_time_df = pd.DataFrame(flight_time_df[['id', 'flight_hours']], columns=['id', 'flight_hours'])
flight_time_df = flight_time_df.groupby('id', as_index=False).mean()

##### Final Check

In [51]:
flight_time_df.shape

(19552, 2)

In [52]:
flight_time_df['id'].nunique()

19552

In [53]:
flight_time_df[flight_time_df.duplicated(subset='id', keep=False)].head()

Empty DataFrame
Columns: [id, flight_hours]
Index: []

In [54]:
len(flight_time_df[flight_time_df.duplicated(subset='id', keep=False)])

0

In [55]:
flight_time_df.head()

                id  flight_hours
0  20080107X000261         705.0
1  20080107X000262        8300.0
2  20080107X000271       10571.0
3  20080109X000361        1000.0
4  20080114X000441         537.0

## Data Merging

In [56]:
def merge_dataframes(df_ref, other_dfs, index_column):
    
    for df in other_dfs:
        df_ref = df_ref.merge(df, how='left', on=index_column)
        
    return df_ref

In [57]:
wingman_df = merge_dataframes(Events_Sequence_df, [aircraft_df, engines_df, Flight_Crew_df, flight_time_df], 'id')

/tmp/ipykernel_17382/3592830939.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'lchg_userid_x', 'lchg_date_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_ref = df_ref.merge(df, how='left', on=index_column)

In [58]:
X = wingman_df.drop(['eventsoe_no'], axis=1)

In [59]:
y = wingman_df[['id', 'eventsoe_no']]

In [60]:
X.set_index('id', inplace=True)
y.set_index('id', inplace=True)

In [61]:
wingman_df.set_index('id', inplace=True)

##### Final Check

In [62]:
X.shape

(25154, 142)

In [63]:
y.shape

(25154, 1)

In [64]:
X.head()

,Occurrence_No,Occurrence_Code,Occurrence_Description,phase_no,lchg_date_x,lchg_userid_x,regis_no,ntsb_no,acft_missing,far_part,...,seat_occ_row,infl_rest_inst,infl_rest_depl,child_restraint,med_crtf_limit,mr_faa_med_certf,pilot_flying,available_restraint,restraint_used,flight_hours
id,,,,,,,,,,,,,,,,,,,,,
20080107X000261,1,550250,Landing Midair collision,550,2020-09-25 18:05:31,NaN,N8037W,SEA08LA057A,N,091,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,705.0
20080107X000262,1,350250,Initial climb Midair collision,350,2020-09-25 18:05:31,NaN,N15EX,SEA08LA057B,N,091,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,8300.0
20080109X000361,1,551230,Landing-flare/touchdown Loss of control on ground,551,2020-09-25 18:05:31,NaN,N579RM,DFW08CA054,N,091,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,1000.0
20080107X000271,1,153081,Standing-engine(s) operating AC/prop/rotor con...,153,2020-09-25 18:04:02,NaN,N398J,DFW08LA055,N,091,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,10571.0
20080115X000511,1,551240,Landing-flare/touchdown Loss of control in flight,551,2020-09-25 18:06:16,NaN,N24965,DEN08CA047,N,091,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,18.0

In [65]:
y.head()

                 eventsoe_no
id
20080107X000261          250
20080107X000262          250
20080109X000361          230
20080107X000271           81
20080115X000511          240

In [66]:
# Write to CSV

import os
 
output_directory = r"/home/aaron/code/AaronDV17/wingman-project/raw_data/trimmed_data"

output_file = os.path.join(output_directory, "WINGMAN.csv")

pd.DataFrame.to_csv(wingman_df, output_file, index=False)