In [82]:
import pandas as pd
import numpy as np

In [83]:
df = pd.read_csv('../raw_data/Events_Sequence.csv')

## 1. Initial Table Info:

In [84]:
df.shape

(55838, 10)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55838 entries, 0 to 55837
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ev_id                   55838 non-null  object
 1   Aircraft_Key            55838 non-null  int64
 2   Occurrence_No           55838 non-null  int64
 3   Occurrence_Code         55838 non-null  int64
 4   Occurrence_Description  55838 non-null  object
 5   phase_no                55838 non-null  int64
 6   eventsoe_no             55838 non-null  int64
 7   Defining_ev             55838 non-null  bool
 8   lchg_date               55838 non-null  object
 9   lchg_userid             0 non-null      float64
dtypes: bool(1), float64(1), int64(5), object(3)
memory usage: 3.9+ MB

In [86]:
df.head()

,ev_id,Aircraft_Key,Occurrence_No,Occurrence_Code,Occurrence_Description,phase_no,eventsoe_no,Defining_ev,lchg_date,lchg_userid
0,20080107X00026,1,1,550250,Landing Midair collision,550,250,True,2020-09-25 18:05:31,NaN
1,20080107X00026,2,1,350250,Initial climb Midair collision,350,250,True,2020-09-25 18:05:31,NaN
2,20080109X00036,1,1,551230,Landing-flare/touchdown Loss of control on ground,551,230,True,2020-09-25 18:05:31,NaN
3,20080109X00036,1,2,550300,Landing Runway excursion,550,300,False,2020-09-25 18:05:31,NaN
4,20080107X00027,1,1,153081,Standing-engine(s) operating AC/prop/rotor con...,153,81,True,2020-09-25 18:04:02,NaN

In [87]:
df['Defining_ev'].value_counts()

False    30684
True     25154
Name: Defining_ev, dtype: int64

## 2. Table Edits:

In [89]:
mask = df['Defining_ev'] == True

In [90]:
target_df = df[mask]

In [91]:
target_df.drop(['Occurrence_No', 'Occurrence_Code', 'Occurrence_Description', 'Defining_ev', 'lchg_date', 'lchg_userid'], axis=1, inplace=True)

/tmp/ipykernel_16309/2427114049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_df.drop(['Occurrence_No', 'Occurrence_Code', 'Occurrence_Description', 'Defining_ev', 'lchg_date', 'lchg_userid'], axis=1, inplace=True)

In [92]:
target_df['id'] = (df['ev_id'].astype(str) + df['Aircraft_Key'].astype(str)).astype('object')

/tmp/ipykernel_16309/2994624934.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_df['id'] = (df['ev_id'].astype(str) + df['Aircraft_Key'].astype(str)).astype('object')

In [93]:
target_df.drop(['ev_id', 'Aircraft_Key'], axis=1, inplace=True)

/tmp/ipykernel_16309/64742750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_df.drop(['ev_id', 'Aircraft_Key'], axis=1, inplace=True)

In [94]:
new_column_order = ['id', 'phase_no', 'eventsoe_no']
target_df = target_df[new_column_order]

## 3. Target Table Info:

In [95]:
target_df.shape

(25154, 3)

In [96]:
target_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25154 entries, 0 to 55837
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           25154 non-null  object
 1   phase_no     25154 non-null  int64
 2   eventsoe_no  25154 non-null  int64
dtypes: int64(2), object(1)
memory usage: 786.1+ KB

In [97]:
target_df.head()

                id  phase_no  eventsoe_no
0  20080107X000261       550          250
1  20080107X000262       350          250
2  20080109X000361       551          230
4  20080107X000271       153           81
5  20080115X000511       551          240

In [98]:
target_df['eventsoe_no'].value_counts()

240    3243
230    3157
341    2475
342    1219
92     1055
       ...
335       5
170       4
441       3
450       1
130       1
Name: eventsoe_no, Length: 91, dtype: int64

## 4. Export Target Table:

In [99]:
# Write to CSV

import os
 
output_directory = r"/home/aaron/code/AaronDV17/wingman-project/trimmed_data"

output_file = os.path.join(output_directory, "Events_Sequence_fin.csv")

pd.DataFrame.to_csv(target_df, output_file, index=False)